

<div class="alert alert-success">
This is a notebook to see what we can get online
    
## The beginning
</div>

In [2]:
# importing these will fail online (not builtins)

import random
import requests

In [3]:
# this will also fail ordinarily but it has been declared in a requirements.txt file

import pandas as pd

In [5]:
# this imports correctly 

import math

In [3]:
a = 6
b = 3

In [4]:
print (a + b)

9

In [4]:
df = pd.read_csv('data_nb.csv')

In [5]:
df[:3]

   col_one   col_two   col_three
0        1       354         323
1        2       327         322
2        3       341         308