

<div class="alert alert-success">
This is a notebook to see what we can get online
    
## The beginning
</div>

In [3]:
# this will always import correctly on Binder because it's a Python builtin

import math

In [4]:
# importing these will fail online (not builtins or in a dependencies file)

import levenshtein

ModuleNotFoundError: No module named 'levenshtein'

In [5]:
import lxml

In [6]:
# this would also fail ordinarily but here it has been declared in a requirements.txt file

import pandas as pd

In [7]:
a = 6
b = 3

In [8]:
print (a + b)

9

In [9]:
df = pd.read_csv('data_nb.csv')

In [10]:
df[:3]

   col_one   col_two   col_three
0        1       354         323
1        2       327         322
2        3       341         308